.todayMeteo {
    width: 100%;
    color: black;
    border: 1px solid grey;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    align-items: center;
    padding: 50px;
    margin: 10px;
    /* background: linear-gradient(40deg, rgba(213,151,175,0.804359243697479) 25%, rgba(207,209,204,0.7651435574229692) 50%, rgba(113,131,101,0.9023984593837535) 75%); */
    justify-content: space-around;
}

.icone {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100px;

}

.detail {
    display: flex;
    flex-direction: column;
}
